<div class="pane-sidebar">
    <!-- TABS NAVIGATION -->
    <ul class="nav nav-tabs nav-tabs-custom nav-fill border-bottom bg-white" id="sidebarTabs" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="tab-btn-chat" data-bs-toggle="tab" data-bs-target="#content-chat" type="button"><i class="fa-regular fa-comments"></i> Chat</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="tab-btn-details" data-bs-toggle="tab" data-bs-target="#content-details" type="button"><i class="fa-solid fa-file-medical"></i> Ficha</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="tab-btn-tools" data-bs-toggle="tab" data-bs-target="#content-tools" type="button"><i class="fa-solid fa-toolbox"></i> Utils</button>
        </li>
        {% if role == "Admin" %}
        <li class="nav-item">
            <button class="nav-link" id="tab-btn-ingest" data-bs-toggle="tab" data-bs-target="#content-ingest" type="button"><i class="fa-solid fa-database"></i> Datos</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="tab-btn-team" data-bs-toggle="tab" data-bs-target="#content-team" type="button" onclick="loadUsers()"><i class="fa-solid fa-users"></i> Equipo</button>
        </li>
        {% endif %}
    </ul>

    <!-- TABS CONTENT AREA -->
    <div class="tab-content bg-white" id="sidebarTabsContent">
        {% include "tabs/chat.html" %}
        {% include "tabs/details.html" %}
        {% include "tabs/tools.html" %}
        
        {% if role == "Admin" %}
            {% include "tabs/ingest.html" %}
            {% include "tabs/team.html" %}
        {% endif %}
    </div>
</div>
