{% extends "base.html" %}

{% block content %}
    {% include "components/styles.html" %}
    {% include "components/navbar.html" %}
    
    <div class="app-container">
        {% include "panels/graph.html" %}
        {% include "panels/sidebar.html" %}
    </div>

    <!-- Mobile Toggle Button -->
    <button class="d-lg-none btn text-white position-fixed bottom-0 end-0 m-3 mobile-fab d-flex align-items-center justify-content-center" style="z-index: 1000;" onclick="toggleSidebar()">
        <i class="fa-solid fa-layer-group fa-lg"></i>
    </button>
{% endblock %}

{% block scripts %}
    {% include "scripts/main.html" %}
{% endblock %}
